.CodeMirror,
.CodeMirror cm-s-default CodeMirror-wrap {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.CodeMirror, .CodeMirror cm-s-default CodeMirror-wrap {
	position: relative;
}

.editor-wrapper {
	position: fixed;
	width: 100%;
	height: calc(100% - 26px);
}

.toolbar {
	height: 26px;
}